@import url('https://fonts.googleapis.com/css?family=Catamaran:300,400,500,700,900&display=swap');
/* 
Estilos de Texto:
h1=Título 
h2=Categorias 
h4=Trabalhos executados
p=Parágrafos

Pesos da Fonte: 300=Light, 400=Regular, 500=Medium, 700=Bold, 900=Black

Cores:
Azul #56B7E0 | Amarelo #FFCC00 | Rosa #D60D47 | Background #000005 | Menus #08080F | Separador #1E1E27

*/

/*/////Scrollbar/////*/
::-webkit-scrollbar-track {
    background-color: #1E1E27;
}
::-webkit-scrollbar {
    width: 6px;
    background: #FFCC00;
}
::-webkit-scrollbar-thumb {
    background: #FFCC00;
}
/*/////Scrolbar/////*/

/*/////Responsive Menu/////*/
/* header */

div.header{
	max-width:100%;
	padding: 1px;
	
}
.header {
  border-radius:5px;  
  background-color: rgba(0,0,0,0.95) ;
  box-shadow: 2px 2px 4px 2px rgba(0,0,0,1);
  position: fixed;
  width: 98%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style:none;
  overflow: hidden; ;
}

.header li a {
  font-size:50px;
  color: #FFCC00;
  font-weight:700;
  display: block;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  color: #FFCC00 ;
  background-color: rgba(86,183,224,0.80);
}

.header a.active {
  background-color: rgba(214,13,71,0.80); 
  color: white;}

.header .logo {
  display: block;
  float: left;
  padding:5px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 50px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #FFCC00;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 80px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #FFCC00;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: none;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 1200px) {
	
  .header {
    background-color: rgba(0,0,0,0.40) ;
  }
	
  .header li {
    float: left;
  }
  .header li a {
	font-size:16px;
	text-align: center;
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/*/Responsive Menu*/


body {	background: url(/buttons/BG.svg)no-repeat fixed center; 
	background-size: cover;
	font-family:'Catamaran'}

a{
	text-decoration: none;
	color: #FFCC00}

h1{
	font-size:40px;
	text-shadow: -2px 2px 5px black;
	letter-spacing: 0.5px;
	color: white; 
	padding:5px;
	font-weight: 900}

h2{
	letter-spacing: 0.5px;
	color:white;
	padding:5px;
	font-weight:700;}

h4{
	font-size:12px;
	padding:5px 5px 15px 5px;
	color:white; 
	font-weight: 300;}

p{
	font-size: 16px;
	letter-spacing: 0.5px;
	color: white; 
	padding: 5px; 
	font-weight: 400; 
	text-align: justify;
	max-width: 1000px;
	margin-left: auto;
    margin-right: auto;}

p.short{
	text-align:center;}

@media screen and (max-width:1020px){
	h1{font-size:65px;}
	h2{font-size:48px;}
	h4{font-size:17px}
	p, p.short{font-size:18px;}
	a.button{font-size:30px; font-weight:900; letter-spacing: 2px;}
	img.logo-pagina{width:100%;}
}

@media screen and (max-width:1020px){
	.logo{height:100px;}
	}

div{
	margin:auto;
	text-align:center;
	max-width: 90%;}

div.brick2 {
	border-radius: 10px;
	padding: 10px;
	column-count: 2;
	column-width: 50%;
	column-gap: 20px;
	column-fill:auto;}

div.brick3 {
	border-radius: 10px;
	padding: 10px;
	column-count: 3;
	column-width: 33,3%;
	column-gap: 20px;
	column-fill:auto;}

div.brick4 {
	padding:10px;
	column-count: 4;
	column-width: 25%;
	column-gap:20px;
	column-fill:auto;}

div.brick5 {
	padding:10px;
	column-count: 5;
	column-width: 20%;
	column-gap:20px;
	column-fill:auto;}

div.brick6 {
	padding:10px;
	column-count: 6;
	column-width: 16,6%;
	column-gap:20px;
	column-fill:auto;}

/*/////////////*/
@media only screen and (orientation:portrait) {
	div.brick2{column-count:1;}
	div.brick3{column-count:1;}
	div.brick4{column-count:2;}
	div.brick5{column-count:3;}
	div.brick6{column-count:3;}}

.marcas{
	float:left;
	width:16%;
	margin-left: auto;
    margin-right: auto;}

.marcas-reducoes{
	float:left;
	width:8%;
	margin-left: auto;
    margin-right: auto;}

.img-menu{
	padding:5px;}

.capa{
	width:200px;
	float: left;
	padding:0px 10px 10px 0px;}

.logo {
	object-fit:contain;}

.logo-pagina{
	width:30%;
}

.button{
  background-color: #D60D47; /* Pink */
  border: none;
  color: white;
  padding: 15px 32px;
  width: 80%;
  transition-duration: 0.4s;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;}

.nav-home{
	position: absolute;
	top: auto;
	left: 10%;
	bottom: 10%;
	font-size: 25px;
	font-weight: 800;
}

.item{
	border-radius:5px;}

.item-image{
	border-style:solid;
	border-radius: 8px;
	border-color: rgba(0,0,5,0.80);
	border-width: 3px;}

.button:link{
	color:white;}

.button:hover {
  background-color: #5681E0;}

footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;}

.big-portfolio{
	float:left;
	background: rgba(255,255,255,0.50);
	border-radius: 10px;
	width: 30%;
	margin: 10px;
	padding:5px;}

.rodape{
	background-color: rgba(0,0,5,0.80);
	border-radius: 5px;
	
}

/*/////////Uphover-Effect////////////*/
.uphover-effect {
  position: relative;
  display: inline-block;
  background-color: #FFCC00;
}

  .uphover-effect:before,
  .uphover-effect:after {
    content: '';
    display: block;
    background-color: #FFCC00;
    width: 8px;
    height: 8px;
    position: absolute;
    transition: all .15s ease;
  }

  .uphover-effect:before {
    top: 0;
    left: 0;
    transform-origin: top left;
    transform: rotate(-45deg) scale(0);
  }

  .uphover-effect:after {
    right: 0;
    bottom: 0;
    transform-origin: bottom right;
    transform: rotate(45deg) scale(0);
  }

  .uphover-effect__thumbnail {
    display: block;
    transform: translate(0, 0);
    transition: all .15s ease;
    position: relative;
    z-index: 10;
  }

.uphover-effect:hover .uphover-effect__thumbnail {
  transform: translate(6px, -6px);
}

.uphover-effect:hover:before {
  transform: rotate(-45deg) scale(1);
}

.uphover-effect:hover:after {
  transform: rotate(45deg) scale(1);
}
/*////////////////////////*/

/*lightbox*/

input, textarea { 
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong, b { font-weight: bold; }
em, i { font-style: italic; }

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

/** page structure **/
#wrapper {
  display: block;
  max-width: 90%;
  margin: auto;
}

#portfolio {
  display: block;
}

#portfolio li {
  display: inline-flex;
  width: 30%;
  max-width: 130px;
  margin-right: 20px;
  margin-bottom: 20px;
}
#big-portfolio li {
  display: block;
  float: left;
  width: 30%;
  max-width: 500px;
  margin-right: 20px;
  margin-bottom: 20px;
}

#portfolio li a {
  display: block;
  padding: 8px;
  background: rgba(255,255,255,0.40);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 1px 2px 2px rgba(0,0,0,0.25);
  -moz-box-shadow: 1px 2px 2px rgba(0,0,0,0.25);
  box-shadow: 1px 2px 2px rgba(0,0,0,0.25);
}
#big-portfolio li a {
  display: block;
  padding: 8px;
  background: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 1px 2px 2px rgba(0,0,0,0.25);
  -moz-box-shadow: 1px 2px 2px rgba(0,0,0,0.25);
  box-shadow: 1px 2px 2px rgba(0,0,0,0.25);
}