@import url('https://fonts.googleapis.com/css?family=Catamaran:300,400,500,700,900&display=swap');
/* 
Estilos de Texto:
h1=Título 
h2=Categorias 
h4=Trabalhos executados
p=Parágrafos

Pesos da Fonte: 300=Light, 400=Regular, 500=Medium, 700=Bold, 900=Black

Cores:
Azul #56B7E0 | Amarelo #FFCC00 | Rosa #D60D47 | Background #000005 | Menus #08080F | Separador #1E1E27

*/

/*Scrollbar*/
::-webkit-scrollbar-track {
    background-color: #1E1E27;
}
::-webkit-scrollbar {
    width: 6px;
    background: #FFCC00;
}
::-webkit-scrollbar-thumb {
    background: #FFCC00;
}
/*Scrolbar*/

*{
	margin:0;
	padding:0;}

/*Menu*/
.nav-menu {
	background:#08080F;
	font-weight: 700;
    font-size: 15px;
    text-align: center;
}

.nav-menu div{
	width: 119px;
    border-left: solid 0.5px;
	border-right: solid 0.5px;
    float: left;
    padding: 10px 0;
}
/*/menu*/

body {
	background: url(/buttons/BG.svg)no-repeat fixed center; 
	background-size: cover;
	font-family:'Catamaran'}

a{
	text-decoration: none;
	color: #FFCC00}

h1{
	color: white; 
	padding:5px;
	font-weight: 900}

h2{
	color:white;
	padding:5px;
	font-weight:700;}

h4{
	font-size:11px;
	padding:5px 5px 15px 5px;
	color:white; 
	font-weight: 300;}

p{
	font-size: 14px;
	color: white; 
	padding: 5px; 
	font-weight: 400; 
	text-align: justify;
	max-width: 1000px;
	margin-left: auto;
    margin-right: auto;}

p.short{
	text-align:center;}

div{
	margin:auto;
	text-align:center;
	max-width: 90%;}

div.brick2 {
	border-radius: 10px;
	padding: 10px;
	column-count: 2;
	column-width: 50%;
	column-gap: 20px;
	column-fill:auto;}

div.brick3 {
	border-radius: 10px;
	padding: 10px;
	column-count: 3;
	column-width: 33,3%;
	column-gap: 20px;
	column-fill:auto;}

div.brick4 {
	padding:10px;
	column-count: 4;
	column-width: 25%;
	column-gap:20px;
	column-fill:auto;}

div.brick5 {
	padding:10px;
	column-count: 5;
	column-width: 20%;
	column-gap:20px;
	column-fill:auto;}

div.brick6 {
	padding:10px;
	column-count: 6;
	column-width: 16,6%;
	column-gap:20px;
	column-fill:auto;}

/*/////////////*/
@media only screen and (orientation:portrait) {
	div.brick2{column-count:1;}
	div.brick3{column-count:1;}
	div.brick4{column-count:2;}
	div.brick5{column-count:3;}
	div.brick6{column-count:3;}}

.marcas{
	float:left;
	width:16%;
	margin-left: auto;
    margin-right: auto;}

.marcas-reducoes{
	float:left;
	width:8%;
	margin-left: auto;
    margin-right: auto;}

.img-menu{
	padding:5px;}

.capa{
	width:200px;
	float: left;
	padding:0px 10px 10px 0px;}

.logo {
	object-fit:contain;}

.button{
  background-color: #D60D47; /* Pink */
  border: none;
  color: white;
  padding: 15px 32px;
  width: 80%;
  transition-duration: 0.4s;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;}

.nav-home{
	position: absolute;
	top: auto;
	left: 10%;
	bottom: 10%;
	font-size: 25px;
	font-weight: 800;
}

.item{
	border-radius:5px;}

.item-image{
	border-style:solid;
	border-radius: 8px;
	border-color: rgba(0,0,5,0.80);
	border-width: 3px;}

.button:link{
	color:white;}

.button:hover {
  background-color: #5681E0;}

footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;}

.big-portfolio{
	float:left;
	background: rgba(255,255,255,0.50);
	border-radius: 10px;
	width: 30%;
	margin: 10px;
	padding:5px;}

.rodape{
	background-color: rgba(0,0,5,0.80);
	border-radius: 5px;
	
}

/*/////////////////////*/
.uphover-effect {
  position: relative;
  display: inline-block;
  background-color: #FFCC00;
}

  .uphover-effect:before,
  .uphover-effect:after {
    content: '';
    display: block;
    background-color: #FFCC00;
    width: 8px;
    height: 8px;
    position: absolute;
    transition: all .15s ease;
  }

  .uphover-effect:before {
    top: 0;
    left: 0;
    transform-origin: top left;
    transform: rotate(-45deg) scale(0);
  }

  .uphover-effect:after {
    right: 0;
    bottom: 0;
    transform-origin: bottom right;
    transform: rotate(45deg) scale(0);
  }

  .uphover-effect__thumbnail {
    display: block;
    transform: translate(0, 0);
    transition: all .15s ease;
    position: relative;
    z-index: 10;
  }

.uphover-effect:hover .uphover-effect__thumbnail {
  transform: translate(6px, -6px);
}

.uphover-effect:hover:before {
  transform: rotate(-45deg) scale(1);
}

.uphover-effect:hover:after {
  transform: rotate(45deg) scale(1);
}
/*////////////////////////*/

/*Responsive Menu*/

	/* background */
.topnav {
  background-color: #08080F;
  overflow: hidden;
}

	/* links */
.topnav a {
  display: inline-flex;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;}

	/* hover links */
.topnav a:hover {
  background-color: #1E1E27 ;
  color: #56B7E0;}

/* Highlight current page */
.topnav a.active {
  background-color: #D60D47; 
  color: white;}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 50px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/* /Responsive Menu*/


/*lightbox*/

input, textarea { 
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong, b { font-weight: bold; }
em, i { font-style: italic; }

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

/** page structure **/
#wrapper {
  display: block;
  max-width: 90%;
  margin: auto;
}

#portfolio {
  display: block;
}

#portfolio li {
  display: inline-flex;
  width: 30%;
  max-width: 130px;
  margin-right: 20px;
  margin-bottom: 20px;
}
#big-portfolio li {
  display: block;
  float: left;
  width: 30%;
  max-width: 500px;
  margin-right: 20px;
  margin-bottom: 20px;
}

#portfolio li a {
  display: block;
  padding: 8px;
  background: rgba(255,255,255,0.40);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 1px 2px 2px rgba(0,0,0,0.25);
  -moz-box-shadow: 1px 2px 2px rgba(0,0,0,0.25);
  box-shadow: 1px 2px 2px rgba(0,0,0,0.25);
}
#big-portfolio li a {
  display: block;
  padding: 8px;
  background: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 1px 2px 2px rgba(0,0,0,0.25);
  -moz-box-shadow: 1px 2px 2px rgba(0,0,0,0.25);
  box-shadow: 1px 2px 2px rgba(0,0,0,0.25);
}