<!doctype html>
<html>
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-456B77W50V"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-456B77W50V');
</script>
	<meta charset="utf-8">
<meta name="theme-color" content="#D60D47">
<meta name="google-site-verification" content="google-site-verification=JFSF4eL7hYyLqXr6MTblgNqa2gFqUL4Q-UzpLrzpuRE">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8603426356480490" crossorigin="anonymous"></script>

<title>Freebie: The Legend of Zelda</title>
	<link rel="shortcut icon" type="image/png" href="/buttons/vitcorlf-favicon.ico">
	<link href="/css/main style.css" rel="stylesheet" type="text/css">
	<link href="/css/TLoZ.css" rel="stylesheet" type="text/css">
	
	<!-- menu -->
	<header class="header">
	<a class="logo-menu" href="/index.html">
	<img class="logo-menu" alt="VitcorLF - Página Inicial" src="/ilustracoes/Layouts/TLoZ/VitcorLF-tloz-01.svg"></a>
	<input class="menu-btn" type="checkbox" id="menu-btn" />
	<label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
	<ul class="menu">
		<li><a href="/index.html">HOME</a></li>
		<li><a href="/marcas.html">MARCAS</a></li>
		<li><a href="/ilustracoes.html" class="active">ILUSTRAÇÕES</a></li>
		<li><a href="/editoracao.html">EDITORIAL</a></li>
		<li><a href="/embalagens.html">EMBALAGENS</a></li>
		<li><a href="/promocional.html">PROMOCIONAL</a></li>
		<li><a href="/contato.html">CONTATO</a></li>
	</ul>
	</header>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-162101116-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-162101116-1');
</script>
</head>

<body>
<br><br><br><br><br>


<div>
  <h1>
<img class="logo-pagina" src="/ilustracoes/Layouts/TLoZ/botw-totk-logo.png" alt="Logo Zelda" width="500px"/><br>The Legend of Zelda</h1>
	<figure>
	<a href="https://drive.google.com/drive/folders/1fQDeVUjPfqcWufsh3Jw2u4Kq9oMDJg8f?usp=sharing" title="Google Drive">
	<img class="img-icon" src="/ilustracoes/Layouts/TLoZ/assets/gdrive icon.svg" alt="Pasta no Google Drive">
	</a></figure>
</div>
	
<!--
<div class="box">
	<h2 style align="left">Modelo VTube (Link TotK)</h2>
	<video class="box" controlsList="nodownload" autoplay muted loop>
	<source src="/ilustracoes/Layouts/TLoZ/videos/_Stinger Zonai key.webm" type="video/webm">
	</video>
	<p>Transições de tela (conhecidas pelo nome "Stinger" nos programas de stream). </p>
</div>
-->
	
<div class="box">
<div>	
	<h2 style align="left">Ancient Zonai Layout</h2>
</div>
<div>
	<video class="box" controlsList="nodownload" autoplay muted loop>
	<source src="/ilustracoes/Layouts/TLoZ/videos/_Starting Soon.webm" type="video/webm">
	</video>
 	<p class="short">Tela de início de stream, moldura de webcam, estática de just chatting, Stingers.</p>
</div>
<div>
	<a href="https://drive.google.com/drive/folders/1fQDeVUjPfqcWufsh3Jw2u4Kq9oMDJg8f?usp=sharing" class="button" target="_blank">Download</a><br>
</div>
</div>

<div class="box">
<div>
<h2 style align="left">Badges</h2>
<p class="short">Badges para níveis de inscritos do canal.</p>
</div>
<div>
<table class="emote-table">
<tr>

<th>
	<figure>
	<a src="/ilustracoes/Layouts/TLoZ/Badges/Zora.png" title="Vow of Sidon">
	<img class="img-emote" src="/ilustracoes/Layouts/TLoZ/Badges/Zora.png" alt="Vow of Sidon">
	</a></figure>		
</th>

<th>
	<figure>
	  <img class="img-emote" src="/ilustracoes/Layouts/TLoZ/Badges/Rito.png" alt="Vow of Tulin"> </figure>		
</th>

<th>
	<figure>
	<a src="/ilustracoes/Layouts/TLoZ/Badges/Gerudo.png" title="Vow of Riju">
	<img class="img-emote" src="/ilustracoes/Layouts/TLoZ/Badges/Gerudo.png" alt="Vow of Riju">
	</a></figure>		
</th>

<th>
	<figure>
	<a src="/ilustracoes/Layouts/TLoZ/Badges/Goron.png" title="Vow of Yunobo">
	<img class="img-emote" src="/ilustracoes/Layouts/TLoZ/Badges/Goron.png" alt="Vow of Yunobo">
	</a></figure>		
</th>

<th>
	<figure>
	<a src="/ilustracoes/Layouts/TLoZ/Badges/Spirit.png" title="Vow of Mineru">
	<img class="img-emote" src="/ilustracoes/Layouts/TLoZ/Badges/Spirit.png" alt="Vow of Mineru">
	</a></figure>		
</th>

</tr>
</table>
</div>
<a href="https://drive.google.com/drive/folders/1fIiW52ffQKiq_erhjqPwgIUXGrgyQTOq?usp=drive_link" class="button" target="_blank">Download</a>
<br>
</div>
	
<div class="box">
<div>
<h2 style align="left">Emotes</h2>
<p class="short">Badges para níveis de inscritos do canal.</p>
</div>
<div>
<table class="emote-table">
<tr>

<th>
	<figure>
	<a src="/ilustracoes/Layouts/TLoZ/Badges/Zora.png" title="Vow of Sidon">
	<img class="img-emote" src="/ilustracoes/Layouts/TLoZ/Badges/Zora.png" alt="Vow of Sidon">
	</a></figure>		
</th>

<th>
	<figure>
	  <img class="img-emote" src="/ilustracoes/Layouts/TLoZ/Badges/Rito.png" alt="Vow of Tulin"> </figure>		
</th>

<th>
	<figure>
	<a src="/ilustracoes/Layouts/TLoZ/Badges/Gerudo.png" title="Vow of Riju">
	<img class="img-emote" src="/ilustracoes/Layouts/TLoZ/Badges/Gerudo.png" alt="Vow of Riju">
	</a></figure>		
</th>

<th>
	<figure>
	<a src="/ilustracoes/Layouts/TLoZ/Badges/Goron.png" title="Vow of Yunobo">
	<img class="img-emote" src="/ilustracoes/Layouts/TLoZ/Badges/Goron.png" alt="Vow of Yunobo">
	</a></figure>		
</th>

<th>
	<figure>
	<a src="/ilustracoes/Layouts/TLoZ/Badges/Spirit.png" title="Vow of Mineru">
	<img class="img-emote" src="/ilustracoes/Layouts/TLoZ/Badges/Spirit.png" alt="Vow of Mineru">
	</a></figure>		
</th>

</tr>
</table>
</div>
<a href="https://drive.google.com/drive/folders/1fIiW52ffQKiq_erhjqPwgIUXGrgyQTOq?usp=drive_link" class="button" target="_blank">Download</a>
<br>
</div>

<div class="box">
  <h2 style align="left">Rupees</h2>
	<p class="text-center">Animações das rúpias (Rupees) para serem utilizadas em alertas e afins: </p>
	<figure>
	<img style align="center" src="/ilustracoes/Layouts/TLoZ/assets/all-rupees.gif">
	</figure>
	<a href="https://drive.google.com/drive/folders/1ycnImmfvTAff5VSyi0zOvgZuXUDsBau1?usp=drive_link" class="button" target="_blank">Download</a> <br>
</div>	

<div class="box">
  <h2 style align="left">Créditos</h2>
	<p class="text-center">Se você decidir usar uma das minhas peças, ajude a fazer meu trabalho chegar até mais pessoas! Adicione um banner com link pro meu portfólio:</p>
	<figure>
	<img src="/buttons/1-promo-320x125.png">
	<figcaption>320x125</figcaption>
  </figure>
	<figure>
	<img src="/buttons/1-promo-320x320.png">
	<figcaption>320x320</figcaption>
  </figure>
</div>

	<div>
<figure>
	<img style align="center" src="/ilustracoes/Layouts/TLoZ/assets/endpage.png">
</figure>
	</div>
	
	
</body>
	
<footer>
		<div><h4>O material desta página é livre para uso, desde que fornecido os devidos créditos  de autor.<br> THE LEGEND OF ZELDA™ is a trademark of Nintendo® of America Inc.</h4></div>
</footer>
	
</html>
